<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Word Search Solver</title>

    <!-- Base -->
    <base href="/wss/">

    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A tool to solve word searches.">
    
    <!-- Analytics -->
    <script type="text/javascript">
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70611276-1', 'auto');
      ga('send', 'pageview');
    </script>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />

  </head>
  <body>
    <div id="top-bar"></div>

    <div id="container">
      <h1>Word Search Solver</h1>
      <div class="left-column">
        <button type="button" name="solve">Solve</button>
        <ul id="words"></ul>
      </div>
      <div class="right-column">
        <table id="grid">
          <tr>
            <td class="active-td"></td>
          </tr>
        </table>
      </div>
    </div>

    <!-- Libraries -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    
    <!-- Main -->
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/word-search-solver.js"></script>
  </body>
</html>
