body {
  font: 14px/1.4 "Roboto Slab", Arial, Sans-serif;
  background-color: #fffafa;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", Arial, Sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

#top-bar {
  height: 25px;
  width: 100%;
  background-color: #dbd7d2; /* Timberwolf */
  border-top: 5px solid #36454f; /* Charcoal */
  padding: 0 0 10px;
  text-align: center;

  -webkit-animation: 2s;
}

#container {
  width: 1000px;
  margin: 10px auto 80px;
  text-align: center;

}

ul {
  list-style-type: none;
  padding: 0;
}

#words {
  -webkit-columns: 2;
}

.left-column {
  width: 200px;
  float: left;
}

.right-column {
  width: calc(100% - 200px);
  float: left;
}

/* Grid */

#grid {
  margin: 0 auto;
}

#grid td {
  width: 40px;
  height: 40px;
  text-align: center;
  /* background-color: gray; */
}

#grid td.active-td {
  background-color: #dbd7d2;
  -webkit-animation: blinker 2s linear infinite;
}

#grid td.highlight {
  background-color: #d7bfc7;
}

@-webkit-keyframes blinker {
  0% { opacity: 0.0; }
  90% { opacity: 1.0; }

}

button {
  background: none;
  padding: 4px 10px;
  border: 1px solid black;
  width: 100%;
  outline: none;
  margin: 5px 0 0;

  -webkit-transition: 0.4s;
}

button:hover {
  background-color: #36454f;
  color: #fffafa;
}

@media (max-width: 1200px) {
  #container {
    width: 800px;
  }
}

@media (max-width: 900px) {
  #container {
    width: 600px;
  }

  .left-column {
    width: 100%;
    float: none;
    text-align: center;
  }

  .right-column {
    width: 100%;
    float: none;
  }

  #words {
    columns: 6;
    -webkit-columns: 6;
    -moz-columns: 6;
  }

  button[name="solve"] {
    margin: 0 auto;
    width: 200px;
  }
}

@media (max-width: 600px) {
  #container {
    width: 400px;
  }
}

/* Notifications */
.notification {
  width: 400px;
  margin: 0 auto;
  z-index: 3;
  padding: 0 10px 5px;
  background-color: #36454f;
  color: #fffafa;

  -webkit-animation-name: dropHeader;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 0.3s;
}

@-webkit-keyframes dropHeader {
  0% {
    -webkit-transform: translateY(-40px);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}
